<div class="clearfix border-bottom mb-5">
    <h1 class="chart-title float-left f00-light">June 12 - March 2</h1>
    <nav class="float-right d-flex flex-justify-center flex-items-center my-3">
        <div class="time-button backwards">
            <i class="fas fa-chevron-left fa-3x"></i>
        </div>
        <div class="timeunit BtnGroup mx-4">
            <button class="btn BtnGroup-item btn-outline <%= (sessionStorage.timeunit||'week')=='week' ? 'selected':'' %>"
                type="button" data-timeunit="week">Week</button>
            <button class="btn BtnGroup-item btn-outline <%= sessionStorage.timeunit=='month' ? 'selected':'' %>" type="button"
                data-timeunit="month">Month</button>
        </div>
        <div class="time-button forwards">
            <i class="fas fa-chevron-right fa-3x"></i>
        </div>
    </nav>
</div>
<div class="svg-container">
    <div class="blankslate d-none d-flex flex-justify-center">
        <div class="flex-self-center">
            <h3>Missing API Token</h3>
            <p>Please go to settings and enter your Toggl API Token</p>
        </div>
    </div>
</div>
<% if(isPersonal){ %>
<div class="d-flex flex-justify-center flex-items-center mt-6">
    <span class="text-gray">Viewing data for</span>
    <details class="dropdown details-reset details-overlay d-inline-block">
        <summary class="text-gray p-2 d-inline" aria-haspopup="true">
            <%= database.user.displayName %>
            <div class="dropdown-caret"></div>
        </summary>
        <ul id="users-dropdown" class="dropdown-menu dropdown-menu-ne">
            <% Object.values(database.users).forEach(user => { %>
            <li><a class="dropdown-item" value="<%= user.uid %>">
                    <%= user.displayName || user.email %></a></li>
            <% }) %>
        </ul>
    </details>
</div>
<% } %>
